* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

label, th, td, p {
    color: white;
}

h1 {
    color: green;
}

h2 {
    color: blue;
}

h3 {
    color: orange;
}

h4 {
    color: pink;
}

h5 {
    color: red;
}

h6 {
    color: yellow;
}

p {
    color: purple;
}

/* https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    /*width: 160px; /* Set the width of the sidebar */
    min-width: 105px;
    max-width: 225px;
    padding-right: 10px;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #292929; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #A2A2A2;
    display: block;
}

.sidenav a[active] {
    color: #CCCCCC;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: white;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    background: #363535;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

html, body, .main {
    background-color: #363535;
}

button {
    background-color: #A2A2A2; /* Green */
    border: none;
    color: white;
    padding: 8px 32px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 23;
    border-radius: 25px;
    cursor: pointer;
}

button:hover {
    background-color: #BCBCBC;
}

.btn-red {
    background-color: #FF4141;
}

.btn-red:hover {
    background-color: #FF7F7F;
}

input {
    border: 1px solid;
    border-color: #A2A2A2;
    background-color: #363535;
    padding: 7px 0px 7px 9px;
    color: white;
}

input::placeholder {
    color: #A2A2A2;
}

table td,
table th {
    padding-right: 12px
}

input[type="text"] {
    width : 175px;
}

input[type="number"] {
    width: 115px;
}

#assignments-table tr:first-child th {
    padding-bottom: 5px;
}

#assignments-table tr:last-child td {
    padding-top: 15px;
    padding-left: 5px;
}

input:focus {
    outline: none !important;
    border: 1px solid white;
    /* box-shadow: 0 0 10px #719ECE; */
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input:disabled {
    background-color: #848484;
    color: white;
}

.btn-delete-row {
    color: #FF4141;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
}

.btn-delete-row:hover {
    color: #FF5E5E;
}

table th {
    text-align: left;
}

#sidenav-footer {
    z-index: 1;
    width: 105px;
    position: fixed;
    left: 10px;
    bottom: 15px;
    background-color: transparent;
    color: white;
    text-align: center;
}

#sidenav-footer * {
    width:100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white;
    font-size: 12px;
    float: left;
    text-align: left;
}

#sidenav-footer p {
    margin-bottom: 2px;
}